.js-hide{
  display:none;
}
.ui.responsive.grid{
	width:1000px;
	margin:0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ui.grid:after,.fuild:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.media-sign h3.ui.header,.zhiyuan-sign h3.ui.header{
	padding-left:10px;
	color:#fff;
	line-height: 17px;
	padding-top: 11px;
	margin:0;
	font-size:18px;
	text-align:left !important;
	font-weight: 400;
}
.media-sign h3.ui.header small,.zhiyuan-sign h3.ui.header small{
	font-size: 12px;
}
@media screen and (max-width: 1050px){
	.ui.responsive.grid{
		padding:0 2%;
		width:auto;
	}
	.ui.header .menu ul.nav{
		width:100% !important;
		overflow: hidden; 
	}
	.menu ul.nav > li{
		padding: 0px 15px !important;
	}
}
@media screen and (max-width: 980px){
	.ui.responsive.grid{
		text-align:center;
	}
	.w-left,.w-right{
		float:none !important;
	}
}
.float.right{
	float:right;
}
.ui.btn{
	padding: .4em 1.2em;
	vertical-align: middle;
}
.ui.green{
	background:green;
}
.center.aligned{
	text-align:center;
}
.pb-30{
	padding-bottom:30px;
}
/**
  * header
**/

.ui.header .ui.top{
	background:#f4f4f4;
	height:40px;
}
.ui.header .china,.ui.header .float.right{
	margin:0;
	line-height:40px;
	display:inline-block;
}
.ui.header .ui.sign.btn{
	color:#fff;
	margin-right: 10px;
}
.ui.header a.ui.active.btn,.ui.header a.active.ui.btn:hover{
	text-decoration: none;
	border-radius:4px;
}
.ui.header a.login{
	color: #5d6266;
	text-decoration: none;
}
.ui.header a.login:hover{
	text-decoration: underline;
}
.ui.header .logo{
	margin:0;
	background:#fff;
}
.ui.header > .logo > .ui.responsive.grid{
	position:relative;
}
.ui.header .logo .w-logo{
	width:430px;
	height:140px;
	background-size:cover;
	display:inline-block;
	float: left;
}
.ui.header .logo .w-address{
	width:235px;
	height:140px;
	background-size:cover;
	position:absolute;
	right:0;
	top:0;
}
.ui.header .menu .ui.grid,.ui.header .menu ul{
	height:100%;
}
.ui.header .menu{
	background:#000;
	color:#fff;
	height:50px;
}
.ui.header .menu ul.nav > li{
	display: inline;
	line-height: 17px;
	position: relative;
	z-index: 99999;
	float: left;
	padding: 7px 30px;
	font-size: 16px;
	text-align:center;
}
.ui.header .menu ul.nav{
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	margin-left: -25px;
}
.ui.header .menu ul.nav li:hover,.ui.header .menu ul.nav li.active{
	background:#0087c5;
}
.ui.header .menu ul li a,.ui.header .sect-menu div a{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.ui.header .menu .hov:hover .sect-menu{
	display:block !important;
}
.ui.header .sect-menu{
	display: none;
	width: 180px;
	position: absolute;
	color: #5d6266;
	background: #fff;
	top: 50px;
	left: 0px;
	font-size:14px;
	text-align: left;
}
.ui.header .sect-menu div{
	padding:0 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	position: relative;
	height: 40px;
	line-height: 40px;
}
.ui.header .sect-menu div:hover{
	background:#eee;
}
/**
  * ft
**/
.ft{
	background:#0c74c4;
	color:#fff;
	height:130px;
	font-size:14px;
	line-height:28px;
	padding:20px 0 0 20px;
}

h3.ui.header{
	font-size: 18px;
	line-height: 36px;
}
.mt-20{
	margin-top:30px;
}
.mt-25{
	margin-top:25px;
}
.white.background{
	background:#fff;
}
.w-left{
	width:640px;
	display:inline-block;
	float:left;
}
.w-right{
	width:300px;
	display:inline-block;
	float:right;
}
.w-left .image{
	display:inline-block;
	float:left;
	position:relative;
}
.w-left .image a{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.w-left .text{
	display:inline-block;
	float:right;
}
.w-left .text h3{
	margin-top:0;
}
.w-left .text h3 a{
	color: #5d6266;
	text-decoration: none;
}
.w-left .text h3 a:hover{
	text-decoration: underline;
}
.w-right .times{
	width:300px;
	height:160px;
	text-align:center;
	color:#fff;
	margin-top: -3px;
	margin-bottom:17px;
}
.w-right .times h3.ui.header{
	padding-top: 14px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}
.w-right .times h3.ui.header small{
	font-size:12px;
}
.w-right .times h3.ui.header + .day{
	margin-left:12.5px;
}
.w-right .times .day{
	height:78px;
	width:65px;
	background:#007da9;
	display:inline-block;
	float:left;
	margin-right:5px;
	font-size:24px;
	line-height:50px;
}
.w-right .times .day span{
	line-height: 8px;
	display:block;
	font-size:18px;
	color:#33ccff;
}
.w-right .check{
	background:#f4f4f4;
	height:180px;
	text-align:center;
}
.w-right .check .math{
	display:block;
	font-size:20px;
	color:#000;
	padding-top: 15px;
	line-height: 16px;
}
.w-right .check .math small,.w-right .check .ever small{
	font-size:12px;
}
.w-right .check .ever{
	display:block;
	color:#0087c5;
	font-size:18px;
	padding-bottom: 5px;
	line-height: 16px;
	padding-top: 5px;
}
.position h3.ui.header{
	line-height: 20px;
}
.w-right .check .ever + input{
	width:240px;
	height:20px;
}
.w-right .check .ui.cha.btn{
	background: #797979;
	width: 70px;
	height: 23px;
	color: #fff;
	margin: 0 auto;
	margin-top: 8px;
	border-radius: 4px;
	position:relative;
}
.w-right .check .ui.cha.btn a{
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
.w-right .position{
	height:265px;
	background:#f4f4f4;
	text-align:center;
}
.w-right .position h3.ui.header{
	margin:0;
	padding:10px 0;
	font-size: 18px;
	font-weight: 400;
}
.w-right .position h3.ui.header small{
	font-size:12px;
}

/**
  *match1
**/
.match1{
	background:#f4f4f4;
	padding:20px 0;
}
.match1>.ui.white.grid{
	padding: 20px;
}
.match1  .media-sign a,.zhiyuan-sign a{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.match1  .media-sign h3.ui.header,.zhiyuan-sign h3.ui.header{
	text-align:center;
	color:#fff;
	line-height: 17px;
  	padding-top: 12px;
	margin:0;
	font-weight: 400;
}
.media-sign:hover h3.ui.header,.zhiyuan-sign:hover h3.ui.header{
	text-decoration: underline;
}
.match1 .w-left .messge{
	border: 1px solid rgba(0,0,0,0.2);
	height: 550px;
	overflow-y: scroll;
	padding: 20px 10px;
	margin-bottom: 5px;
}
.match1 .w-left .messge p{
	margin:0;
}
.match1 .w-right .times h3.ui.header{
	margin-top:0;
}
.match1 .ui.next.btn{
	vertical-align: middle;
	background: #db5800;
	font-size:20px;
	color:#fff;
	border-radius: 4px;
	text-decoration: none;
}
.match1 .check{
	height:130px;
	
}
.match1 .check a{
	text-decoration: none;
}
.match1 .check .math{
	font-size:18px;
	width: 120px;
	margin: 0 auto;
	padding: 17px 0 7px 0;
}
.match1 .check a.active,.match1 .check a:hover{
	color:#0087c5;
	text-decoration: none;
}
.match1 .check  .ever{
	color:#000;
	width: 72px;
	margin:0 auto;
}
.match1 .check  .ever+.ever{
	width: 108px;
	margin:0 auto;
}

/**
  *match2
**/
.match1 .w-left .messge-2{
	border: 1px solid rgba(0,0,0,0.2);
	height: 460px;
	overflow-y: scroll;
	padding: 20px 10px;
	margin-bottom: 5px;
}
.match1 .w-left .messge-2 p{
	margin:0;
}
.match1 .w-left .messge-2 h3{
	margin:0;
}
.match1 .w-left div.next{
	width: 109px;
	height: 40px;
	background: #db5800;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	margin:0 15px;
	position:relative;
}
.match1 .w-left div.next.back{
	background:#999;
}
.match1 .w-left div.next a{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	text-decoration: none;
}
/**
  *match3
**/
.match3 .w-left .border{
	padding:2em 0;
	font-size:16px;
}
.match3 .w-left .border .pb{
	padding: 1em 0;
}
.match3 .choose{
	width: 350px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 4em;
}
.match3 .choose .ui.radio{
	padding: 5px 0;
}
.match3 .choose .ui.radio input[type="radio"]:hover{
	cursor:pointer;
}
.match3 .choose .ui.radio:nth-child(3) input[type="radio"]:hover{
	cursor:default;
}


.box {
	height: auto;
	padding: 3em 0 1em;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}
.box .fuild{
	width:100%;
	padding: 5px 0;
	position: relative;
}
.box .item {
	float: left;
	text-align: right;
	width: 94px;
	padding-right: 10px;
	height: 44px;
	padding-top: 6px;
	height: 43px\9;
	padding-top: 7px\9;
	_height: 44px;
	_padding-top: 8px;
	line-height: 28px;
	font-size: 14px;
}
.box .input_box {
	float: left;
	width: 215px;
	height: 50px;
	position: relative;
}
input.put{
	z-index:0;
	height:35px;
	width: 200px;
	font-size: 1em;
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
}
.box .ui.radio{
	margin: 10px 0;
	height: 1.25em;
	line-height: 1em;
	outline: 0;
	text-align: left;
	vertical-align: middle;
}
.box .input_box.w-150,.box .input_box .put.w-150{
	width:150px;
}
input.put.w-150 {
	margin: 0 2px;
}
.box .input_box.w-500{
	width:500px;
}
.box.box-2{
	padding:1em 0;
}
.box-2 .left-xx{
	width:120px;
	display:inline-block;
	float:left;
	color:red;
	font-size:14px;
	padding: 2em 0;
}
.box-2 .left-xx.pt-1{
	padding:1em 0;
}
.box-2 .left-xx.pt-0{
	padding:0;
}
.box-2 .right-xx{
	width:520px;
	display:inline-block;
	float:left;
	text-align:left;
	color:red;
}
.box-2 .ui.see.btn{
	background: #999;
	display: inline-block;
	padding: 10px 1.2em;
}
.box-2 a{
	text-decoration: none;
	color: #f4f4f4;
}
p.photo{
	color:#5d6266;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}
.photo-w{
	height: 120px;
	width: 120px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.1);
}
.box-2.box-3{
	border-bottom:0px solid #fff;
}
.box-2.box-3 + .mt-20{
	margin-bottom:30px;
}

/**
  * 注册
**/
.tht{
	padding:1em 0;
	font-size:20px;
	font-weight:700;
}
.fuild .put.block{
	display:block;
	float:none;
	margin: 15px auto;
	width: 260px;
}
.fuild .put.block.w-150{
	width:150px;
	display: inline-block;
	margin:0;
}
.ui.get.btn{
	vertical-align: middle;
	background: #999;
	font-size: 16px;
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
	margin-left: 5px;
	padding: .7em 0.8em;
}
p.next{
	display: inline-block;
	margin: 0;
}
.ui.bg-2.btn{
	background:#222 !important;
	margin-left: -35px;
	margin-right: 20px;
}
.dropdown{
	width: 270px;
	height: 41px;
	font-size: 16px;
	line-height: 20px;
	color: rgba(0,0,0,.4);
	background: #fff;
	border: 1px solid rgba(0,0,0,0.2);
}
.item.ti {
	width: auto;
	text-align: left;
	margin-left: 1em;
	background: #ddf2f6;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	margin: 6px 0 0 2em;
	font-size: 12px;
	border-radius: 2px;
	border: 1px solid #bee0e1;
}
.input_box.w-120,.put.w-120{
	width:120px;
}
.or{
	position:absolute;
	bottom: -27px;
	font-size: 25px;
	z-index: 9999;
	width: 40px;
	text-align: center;
	background: #fff;
	left: 300px;
}
.must{
	text-align: left;
	margin-left: 80px;
	font-size: 16px;
}
.must p+p{
	margin:5px auto;
}
.dropdown.w-207{
	width:207px;
	margin-left:5px;
}
.dropdown.w-60,.input_box.w-60{
	width:60px;
}
.dropdown.w-80,.input_box.w-80{
	width:80px;
}
.put.w-500{
	width:500px;
}
.item.line-17{
	line-height:17px;
}
.dropdown.w-208{
	width:208px;
	margin-left:5px;
}
.item.cho{
	width: 100%;
	text-align: left;
	height: 20px;
}
.item.cho + .input_box{
	height: 35px;
}
/*.item.cho + .input_box .ui.radio{
	margin: 2px 0;
}*/
.ml-5{
	margin-left:5px;
}
.input_box.w-518,.put.w-518{
	width:518px;
}
.dropdown.w-174{
	width:174px;
}
.org p{
	font-size:16px;
}
input.ui.btn{
	border:0px solid #fff;
	cursor:pointer;
}
.join img{
	margin: 10px;
}
.messge-2.w-85{
	height: 135px !important;
  	font-size: 18px;
}

.ui.banner.grid{
	width:1000px;
	margin:0 auto 20px;
}
.w-320{
	width:320px;
	margin-top: 15px;
	display: inline-block;
  	float: left;
}
.w-320 .content{
	height:110px;
}
.w-320 .content .image{
	width:120px;
}
.w-320 .content .text{
	width:190px;
}
.w-320 .content .text h3{
	font-size:14px;
	margin-bottom: 0px;
	padding-bottom: 0;
}
.w-320 .content .text h3 +p{
    margin-top: 0px;
  	font-size: 12px;
  	line-height: 17px;
  	margin-bottom: 0;
}
.w-150{
	width:150px;
	margin-top:15px;
	margin-left:10px;
	display: inline-block;
  	float: left;
}
.w-150 .text-1 h3{
	font-size:14px;
	margin-bottom: 0px;
	padding-bottom: 0;
	margin-top:3px;
}
.w-150 .text-1 h3 + p{
	margin-top: 0px;
  	font-size: 12px;
  	line-height: 17px;
  	margin-bottom: 0;
}

.w-150 .img{
	width:40px;
	display:inline-block;
	float:left;
}
.w-150 .text-2{
	width:105px;
	margin-left:5px;
	color:#00a2e3;
	display:inline-block;
	float:left;
}
.w-150 .text-2 h3,.w-150 .text-2 p{
	margin:0;
	padding:0;
}
.w-150 .text-2 h3{
	font-size:13px;
}
.w-150 .text-2 p{
	font-size:12px;
}
.w-150 .cont-1 {
  	padding: 10px 0;
	border-bottom: 1px solid #00a2e3;
	height: 37px;
	position:relative;
}
.text-2 a{
	text-decoration: none;
	color:#00a2e3;
}
.text-2 a:hover{
	text-decoration:underline;
}

.ui.logo.grid{
	width: 1000px;
  	background: #fff;
	text-align: center;
  	margin: 20px auto;
  	padding: 20px 0;
}
.ui.logo.grid p{
	font-size:18px;
	margin: 0 0 10px;
}
.ui.logo.grid hr{
	width:50px;
	height: 1px;
	background: #000;
	margin: 20px auto;
}

.w-lin{
	display:inline-block;
	float:left;
	vertical-align: middle;
	text-align: right;
	height: 140px;
	width: 327px;
	position: relative;
}
.w-lin p{
	position: absolute;
  	bottom: 6px;
  	right: 0;
	font-size:16px;
}
.w-lin .ui.login small{
	font-size:8px;
}
.ui.blue{
	background:#0087c5;
}
.w-lin .ui.btn.login{
	width: 64px;
    display: inline-block;
    text-align: center;
	font-size: 16px;
}
.w-lin .ui.sign{
	display: inline-block;
  	text-align: center;
  	font-size: 16px;
  	padding: 5px 7px;
}
.w-lin p a.ui.btn{
	font-size:16px;
	line-height:16px;
}
.w-lin p a.ui.btn small{
	font-size:8px;
}
.fotter .wide.column{
	width:13%;
	display:inline-block;
	float:left;
}
.ui.list h2.item {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: .5em;
  font-size: 13px;
}
.ui.list {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}
.ui.list b{
	width:100%;
	float: left;
	display: block;
}
.ui.list hr{
	width:10px;
	float: left;
	border: 1px solid #fff;
}
.ui.list .item {
  display: block;
  font-size: 12px;
  padding: 0 0;
}
.ui.list .item:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ui.list a.ui.link.item {
  width: 65px;
  font-size: 12px!important;
}
.ui.list a:hover{
  text-decoration:underline;
}
.ui.link {
  color: #fff;
  text-decoration: none;
}
.ui.list a.ui.link.item {
  width: 80px;
  font-size: 12px!important;
}
.nav li a small{
	font-size:12px;
}
.mt-10{
	margin-top:10px;
}
.mt-15{
	margin-top:15px;
}
.text-1 {
  color: #00a2e3;
}
.text-1 +p{
  	background: #00a2e3;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	margin: 6px 0;
	width: 145px;
}
.w-left p.lei{
	margin:0;
	font-size:14px;
	color:#999999;
}
.w-left p.lei span{
	color:#00a2e3;
}
.w-left h3.ui.tit{
	font-size:24px;
	color:#222;
	padding:10px 0;
	margin:0;
}
.w-left h3.ui.tit+hr{
	border: 1px solid rgba(0,0,0,0.1);
}
p.enl{
	text-align:center;
	margin-top: 40px;
}
.center.click{
	text-align:center;
	text-decoration: none;
	font-size:24px;
	color:#006390;
	line-height: 18px;
}
.center.click small{
	font-size:16px;
}

